<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  <div class="container">
    
    {{ partial "nav.html" . }}
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>

        
  <footer class="pt-5 my-5 text-muted border-top">
    A Zaibatsutel Project · © 2021
  </footer>
    </div>

    {{ partial "bootstrap-js.html" . }}
  {{ partial "google-analytics-async.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

</body>

</html>
