<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
  <div class="container">
    
    {{ partial "nav.html" . }}
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>

        
  <footer class="pt-5 my-5 text-muted border-top">
    A Zaibatsutel Project · © <script>document.write(new Date().getFullYear())</script>
  </footer>
    </div>

    {{ partial "bootstrap-js.html" . }}
  {{ partial "google-analytics-async.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript">
var $grid = $('.needs-mason').masonry({
    "percentPosition": true 
});
$grid.masonry('layout')
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
  </script>

</body>

</html>
